
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 30% 90%;
    --foreground: 215 25% 26.9%;
    --card: 40 30% 99%;
    --card-foreground: 215 25% 26.9%;
    --popover: 40 30% 99%;
    --popover-foreground: 215 25% 26.9%;
    --primary: 216 34% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 30% 92%;
    --secondary-foreground: 215 25% 26.9%;
    --muted: 40 30% 92%;
    --muted-foreground: 215 20% 46.1%;
    --accent: 40 30% 92%;
    --accent-foreground: 215 25% 26.9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 88%;
    --input: 40 20% 88%;
    --ring: 216 34% 53.3%;
    --radius: 0.5rem;
    --sidebar-background: 215 30% 15%;
    --sidebar-foreground: 0 0% 98%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 216 34% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 27.5%;
    --input: 217.2 32.6% 27.5%;
    --ring: 216 34% 53.3%;
    --radius: 0.5rem;
    --sidebar-background: 215 30% 11%;
    --sidebar-foreground: 0 0% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
